<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>Srueda - Soluciones IT | Transformación Digital y Automatización</title>
    <!-- Meta description -->
    <meta name="description" content="Srueda ofrece soluciones de TI personalizadas, incluyendo transformación digital, automatización de procesos y servicios en la nube. Conoce cómo podemos ayudarte a crecer tu negocio.">
    <!-- Meta robots -->
    <meta name="robots" content="index, follow">
    <!-- Open Graph Tags -->
    <meta property="og:title" content="Srueda - Soluciones IT | Transformación Digital y Automatización">
    <meta property="og:description" content="Srueda ofrece soluciones de TI personalizadas, incluyendo transformación digital, automatización de procesos y servicios en la nube. Conoce cómo podemos ayudarte a crecer tu negocio.">
    <meta property="og:image" content="assets/img/og-image.jpg">
    <meta property="og:url" content="https://www.srueda.com">
    <meta property="og:type" content="website">
    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Srueda - Soluciones IT | Transformación Digital y Automatización">
    <meta name="twitter:description" content="Srueda ofrece soluciones de TI personalizadas, incluyendo transformación digital, automatización de procesos y servicios en la nube. Conoce cómo podemos ayudarte a crecer tu negocio.">
    <meta name="twitter:image" content="assets/img/twitter-image.jpg">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <!-- FlatIcon CSS -->
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <!-- Font Awesome Min CSS -->
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <!-- Bootstrap Icon CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap-icons.css">
    <!-- Mean Menu CSS -->
    <link rel="stylesheet" href="assets/css/meanmenu.css">
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
    <!-- Swiper Min CSS -->
    <link rel="stylesheet" href="assets/css/swiper.min.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="assets/css/responsive.css">
	<style>
		.white-logo-main {
    		color: white;
			font-weight: 700;
			font-family: 'Dosis', sans-serif;
		}
	</style>
</head>


<body cz-shortcut-listen="true">

	<!-- Start Preloader Section -->
	<div class="preloader preloader-deactivate">
		<div class="loader">
			<div class="shadow"></div>
			<div class="box"></div>
		</div>
	</div>
	<!-- End Preloader Section -->
	
	<!-- Start Navbar Section -->
	<div class="navbar-section">
		<div class="techvio-responsive-nav">
			<div class="container">
				<div class="techvio-responsive-menu">
					<div class="logo">
						<a href="index.html">
							<h2 class="white-logo-main" alt="logo">SERGIO DEV SOLUTIONS</h2>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="techvio-nav">
			<div class="container">
				<nav class="navbar navbar-expand-md navbar-light">
					<a class="navbar-brand" href="index.html">
						<h2 class="white-logo-main" alt="logo">SERGIO DEV SOLUTIONS</h2>
					</a>
					<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent" style="display: block;">
						<ul class="navbar-nav">
							<li class="nav-item"> 
								<a href="#" class="nav-link">Home <i class="fas fa-chevron-down"></i></a>
								<ul class="dropdown-menu">
									<li class="nav-item"> 
										<a href="index.html" class="nav-link">Aprende AWS</a>
									</li>
									<li class="nav-item"> 
										<a href="index.html" class="nav-link">Aprende Python</a>
									</li>
									<li class="nav-item"> 
										<a href="index.html" class="nav-link">Aprende Django</a>
									</li>
								</ul>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="#mis-servicios">Mis servicios</a>
							</li>

							<li class="nav-item">
								<a  href="#sobre-mi" class="nav-link">Acerca de mi</a>
							</li>

							<li class="nav-item">
								<a href="#portafolio" class="nav-link">Portafolio</a>
							</li>

							<li class="nav-item">
								<a href="#contactame" class="nav-link">Contáctame</a>
							</li>
						</ul>
						<!--<div class="other-option">
							<a class="default-btn" href="mailto:demo@example.com">Get It Support <span></span></a>
						</div>-->
					</div>
				</nav>
			</div>
		</div>
	</div>
	<!-- End Navbar Section -->
	
	<!-- Start Home Section -->
	<div class="home-3 home-section">
		<div id="particles-js"><canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="994" height="953"></canvas></div>
		<div class="d-table">
			<div class="d-table-cell">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 col-md-12">
							<div class="main-banner-content">
								<ul class="social-icon-list">
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									<li><a href="#"><i class="fab fa-youtube"></i></a></li>
								</ul>
                                <h1>Software Development</h1>
								<p>Hola, soy Sergio Rueda. Desarrollador de software apasionado por la tecnología, y me encantaría ser tu socio tecnológico.</p>
								<div class="banner-btn">
									<a class="default-btn-one" href="#mis-servicios">Mis Servicios <span></span></a>
									<a class="default-btn-two" href="#contactame">Contáctame  <span></span></a>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-12" data-tilt="" style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
							<div class="banner-image">
								<img src="assets/img/home-font-3.png" alt="image">
							</div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Home Section -->
	
	<!-- Start Feature Section -->
    <section class="feature-section mt-5" id="mis-servicios">
        <div class="container">
            
            <div class="row">

                <div class="col-md-12">
					<div class="section-title">
						<h2 >Mis Servicios</h2>
					</div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="feature-single-item">
                        <img src="assets/img/portfolio/portfolio-2.jpg" alt="icon">
                        <h3>Landing Pages</h3>
                        <p>
                            Diseño y desarrollo de páginas web de aterrizaje (landing pages) optimizadas para captar clientes, promover productos o servicios, y aumentar la conversión. Me aseguro de que tu landing page sea rápida, atractiva y efectiva, con una experiencia de usuario fluida.
                        </p>
						<div class="feature-btn-box"> 
							<a href="#" class="read-more"><i class="bi bi-arrow-right-short"></i> Learn More</a>
						</div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="feature-single-item">
                        <img src="assets/img/client/ecommerce.png" alt="icon">
                        <h3> E-commerce</h3>
                        <p>
                            Desarrollo de tiendas online completas y personalizadas, con todas las funciones necesarias para gestionar productos, inventario, pagos y envíos. Utilizo tecnologías modernas para asegurar que tu tienda en línea sea segura, escalable y fácil de administrar.
                        </p>
						<div class="feature-btn-box"> 
							<a href="#" class="read-more"><i class="bi bi-arrow-right-short"></i> Learn More</a>
						</div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="feature-single-item">
                        <img src="assets/img/icon/feature-icon-3.svg" alt="icon">
                        <h3>Web Corporativa</h3>
                        <p>
                            Creación de sitios web corporativos que representen la imagen profesional de tu empresa. Desarrollados con diseño responsive y enfocados en la funcionalidad, te ayudarán a tener una sólida presencia digital.
                        </p>
						<div class="feature-btn-box"> 
							<a href="#" class="read-more"><i class="bi bi-arrow-right-short"></i> Learn More</a>
						</div>
                    </div>
                </div>

            </div>


            <div class="row">
                
                <div class="col-lg-4 col-md-6">
                    <div class="feature-single-item">
                        <img src="assets/img/client/aws.webp" alt="icon">
                        <h3>Despliegue de Aplicaciones Web en la Nube</h3>
                        <p>
                            Implementación y despliegue de aplicaciones web en plataformas de nube como AWS, garantizando escalabilidad, alta disponibilidad y seguridad en la infraestructura de tu proyecto.
                        </p>
						<div class="feature-btn-box"> 
							<a href="#" class="read-more"><i class="bi bi-arrow-right-short"></i> Learn More</a>
						</div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="feature-single-item">
                        <img src="assets/img/client/software.png" alt="icon">
                        <h3> Desarrollo de Software a la Medida </h3>
                        <p>Desarrollo de aplicaciones y sistemas personalizados según las necesidades específicas de tu negocio. Me encargo de diseñar e implementar soluciones adaptadas a tus requerimientos, asegurando eficiencia y resultados.</p>
						<div class="feature-btn-box"> 
							<a href="#" class="read-more"><i class="bi bi-arrow-right-short"></i> Learn More</a>
						</div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="feature-single-item">
                        <img src="assets/img/client/API.avif" alt="icon">
                        <h3>Implementación de Diversas API</h3>
                        <p>
                            Integración de APIs de terceros o creación de APIs personalizadas para conectar tus aplicaciones con diferentes servicios. Tengo experiencia en la implementación de APIs como pasarelas de pago, servicios externos y sistemas de gestión.
                        </p>
						<div class="feature-btn-box"> 
							<a href="#" class="read-more"><i class="bi bi-arrow-right-short"></i> Learn More</a>
						</div>
                    </div>
                </div>

            </div>
        </div>
    </section>
	<!-- End Feature Section -->
	
	<!-- Start About Section -->
	<section class="about-area section-padding" id="sobre-mi">
		<div class="container">
			<div class="row d-flex align-items-center">
				<div class="col-lg-6 col-md-12">
                    <div class="about-content">
                        <h6 class="sub-title">Sobre Mi</h6> 
                        <h2>Impulsando Tu Negocio con Soluciones Tecnológicas Personalizadas y Apasionadas</h2>
                        <p>Hola, soy Sergio Rueda, y estoy emocionado de ser tu socio tecnológico. Con más de 6 años de experiencia en desarrollo de software, me especializo en crear soluciones web a medida adaptadas a tus necesidades únicas. Ya sea que necesites un sitio web impresionante, integraciones de API sin complicaciones, un chatbot poderoso o el despliegue de aplicaciones en la nube, estoy aquí para asegurarme de que la tecnología trabaje a tu favor. Mi objetivo es ofrecerte un servicio excepcional y ser tu socio de confianza en el mundo digital.</p>
                        <div class="skills">
                            <div class="skill-item">
                                <h6>Creación de Páginas Web <em>100%</em></h6>
                                <div class="skill-progress">
                                    <div class="progres" data-value="100%" style="width: 100%;"></div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <h6>Integración de APIs y Pasarelas de Pago <em>100%</em></h6>
                                <div class="skill-progress">
                                    <div class="progres" data-value="100%" style="width: 100%;"></div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <h6>Desarrollo de Chatbots <em>100%</em></h6>
                                <div class="skill-progress">
                                    <div class="progres" data-value="100%" style="width: 100%;"></div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <h6>Despliegue en la Nube (AWS) <em>100%</em></h6>
                                <div class="skill-progress">
                                    <div class="progres" data-value="100%" style="width: 100%;"></div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <h6>Desarrollo de APIs Personalizadas <em>100%</em></h6>
                                <div class="skill-progress">
                                    <div class="progres" data-value="100%" style="width: 100%;"></div>
                                </div>
                            </div>
                            <div class="skill-item">
                                <h6>Consumo de WhatsApp API y Otras Plataformas <em>100%</em></h6>
                                <div class="skill-progress">
                                    <div class="progres" data-value="100%" style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="about-btn-box"> 
                            <a class="default-btn" href="about.html">Saber Más <span></span></a>
                        </div>
                    </div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="about-image">
						<img src="assets/img/about.jpg" alt="About image">
						<div class="years-design">
							<h2>6</h2>
							<h5>Years Of Experience</h5>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End About Section -->
	
	<!-- Start Counter Section -->
	<section class="counter-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 counter-item">
					<div class="single-counter">
						<div class="counter-contents">
							<h2>
								<span class="counter-number">6</span>
								<span>+</span>
							</h2>
							<h3 class="counter-heading">Años de Experiencia</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 counter-item">
					<div class="single-counter">
						<div class="counter-contents">
							<h2>
								<span class="counter-number">12</span>
								<span>+</span>
							</h2>
							<h3 class="counter-heading">Proyectos Completados</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 counter-item">
					<div class="single-counter">
						<div class="counter-contents">
							<h2>
								<span class="counter-number">12</span>
								<span>+</span>
							</h2>
							<h3 class="counter-heading">Clientes Satisfechos</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 counter-item">
					<div class="single-counter">
						<div class="counter-contents">
							<h2>
								<span class="counter-number">5</span>
								<span>+</span>
							</h2>
							<h3 class="counter-heading">Áreas de Especialización</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Counter Section -->
	
	<!-- Start Services Section -->
	<!--<section class="services-section section-padding">
		<div class="container">
			<div class="row">
                <div class="col-md-12">
					<div class="section-title">
						<h6 class="sub-title">What We Provide</h6>
						<h2>Our Services</h2>
					</div>
                </div>
				<div class="col-lg-4 col-md-6">
					<div class="single-services-item">
						<div class="services-icon">
							<i class="flaticon-development"></i>
						</div>
						<h3>Web Development</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt dolore magna aliqua</p>
						<div class="services-btn">
							<a href="#" class="read-more"><i class="bi bi-arrow-right-short"></i> Read More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-services-item">
						<div class="services-icon">
							<i class="flaticon-targeted-marketing"></i>
						</div>
						<h3>Digital Marketing</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt dolore magna aliqua</p>
						<div class="services-btn">
							<a href="#" class="read-more"><i class="bi bi-arrow-right-short"></i> Read More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-services-item">
						<div class="services-icon">
							<i class="flaticon-analytics"></i>
						</div>
						<h3>Startup Solutions</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt dolore magna aliqua</p>
						<div class="services-btn">
							<a href="#" class="read-more"><i class="bi bi-arrow-right-short"></i> Read More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-services-item">
						<div class="services-icon">
							<i class="flaticon-super-intelligence"></i>
						</div>
						<h3>Networking Services</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt dolore magna aliqua</p>
						<div class="services-btn">
							<a href="#" class="read-more"><i class="bi bi-arrow-right-short"></i> Read More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-services-item">
						<div class="services-icon">
							<i class="flaticon-code"></i>
						</div>
						<h3>SEO Optimization</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt dolore magna aliqua</p>
						<div class="services-btn">
							<a href="#" class="read-more"><i class="bi bi-arrow-right-short"></i> Read More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-services-item">
						<div class="services-icon">
							<i class="flaticon-mobile-app"></i>
						</div>
						<h3>Apps Development</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt dolore magna aliqua</p>
						<div class="services-btn">
							<a href="#" class="read-more"><i class="bi bi-arrow-right-short"></i> Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>-->
	<!-- End Services Section -->
	
	<!-- Start Portfolio Section -->
    <section class="portfolio-area bg-grey section-padding" id="portafolio">
        <div class="container">
            <div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<!--<h6 class="sub-title">Recent Works</h6>-->
						<h2>Mi Portafolio</h2>
					</div>
				</div>
                <div class="col-md-12">
                    <div class="portfolio-list">
                        <ul class="nav" id="portfolio-flters">
                            <li class="filter filter-active" data-filter=".all">Todo</li>
                            <li class="filter" data-filter=".application">Aplicaciones</li>
                            <li class="filter" data-filter=".webdesign">Web design</li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="portfolio-container" style="position: relative; height: 635.968px;">
				<div class="row">
                    <!-- portfolio-item -->
                    <div class="col-lg-4 col-md-6 portfolio-grid-item all branding" style="position: absolute; left: 0px; top: 0px;">
                        <div class="portfolio-item">
							
							<img src="assets/img/portfolio/coming.jpg" alt="image">
                            <div class="portfolio-content-overlay">
								<p>App Store | Social Media</p>
								<h3><a href="single-portfolio.html">Creative Web Design</a></h3>
								<a class="portfolio-link-icon" href="single-portfolio.html"><i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- portfolio-item -->
                    <div class="col-lg-4 col-md-6 portfolio-grid-item all photography" style="position: absolute; left: 311.984px; top: 0px;">
                        <div class="portfolio-item">
							<img src="assets/img/portfolio/animales.webp" alt="image">
                            <div class="portfolio-content-overlay">
								<p>App Store | Social Media</p>
								<h3><a href="single-portfolio.html">Creative Web Design</a></h3>
								<a class="portfolio-link-icon" href="single-portfolio.html"><i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- portfolio-item -->
                    <div class="col-lg-4 col-md-6 portfolio-grid-item all branding webdesign" style="position: absolute; left: 623.968px; top: 0px;">
                        <div class="portfolio-item">
							<img src="assets/img/portfolio/ecomerce1.jpg" alt="image">
                            <div class="portfolio-content-overlay">
								<p>App Store | Social Media</p>
								<h3><a href="single-portfolio.html">Creative Web Design</a></h3>
								<a class="portfolio-link-icon" href="single-portfolio.html"><i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- portfolio-item -->
                    <div class="col-lg-4 col-md-6 portfolio-grid-item all webdesign" style="position: absolute; left: 0px; top: 317.984px;">
                        <div class="portfolio-item">
							<img src="assets/img/portfolio/baby.png" alt="image">
                            <div class="portfolio-content-overlay">
								<p>App Store | Social Media</p>
								<h3><a href="single-portfolio.html">Creative Web Design</a></h3>
								<a class="portfolio-link-icon" href="single-portfolio.html"><i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- portfolio-item -->
                    <div class="col-lg-4 col-md-6 portfolio-grid-item all application" style="position: absolute; left: 311.984px; top: 317.984px;">
                        <div class="portfolio-item">
							<img src="assets/img/portfolio/joyeria.png" alt="image">
                            <div class="portfolio-content-overlay">
								<p>App Store | Social Media</p>
								<h3><a href="single-portfolio.html">Creative Web Design</a></h3>
								<a class="portfolio-link-icon" href="single-portfolio.html"><i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- portfolio-item -->
                    <div class="col-lg-4 col-md-6 portfolio-grid-item all application photography" style="position: absolute; left: 623.968px; top: 317.984px;">
                        <div class="portfolio-item">
							<img src="assets/img/portfolio/planta.png" alt="image">
                            <div class="portfolio-content-overlay">
								<p>App Store | Social Media</p>
								<h3><a href="single-portfolio.html">Creative Web Design</a></h3>
								<a class="portfolio-link-icon" href="single-portfolio.html"><i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Portfolio Section -->
	
	<!-- Start Pricing Section -->
	<!--<section class="price-area pt-100 pb-70">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h6 class="sub-title">Popular Package</h6>
						<h2>Pricing Plans</h2>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-pricing-content">
						<div class="price-tag">
							<h3>Startup</h3>
						</div>
						<div class="price-heading">
							<div class="price-usd">
								<h2>$29.00 <span class="price-small-text">- Per month</span></h2>
							</div>
						</div>
						<div class="price-body">
							<ul>
								<li>Personal Use</li>
								<li>Unlimited Projects</li>
								<li>Project Management</li>
								<li class="offer-list-none"><del>27/7 Support</del></li>
								<li class="offer-list-none"><del>Basic support on Github</del></li>
								<li class="offer-list-none"><del>Help center access</del></li>
							</ul>
						</div>
						<div class="price-btn">
							<a href="#" class="price-btn-one">Get Started</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-pricing-content">
						<div class="price-tag">
							<h3>Standard</h3>
						</div>
						<div class="price-heading">
							<div class="price-usd">
								<h2>$45.00<span class="price-small-text">- Per month</span></h2>
							</div>
						</div>
						<div class="price-body">
							<ul>
								<li>Personal Use</li>
								<li>Unlimited Projects</li>
								<li>Project Management</li>
								<li>27/7 Support</li>
								<li class="offer-list-none"><del>Basic support on Github</del></li>
								<li class="offer-list-none"><del>Help center access</del></li>
							</ul>
						</div>
						<div class="price-btn">
							<a href="#" class="price-btn-one">Get Started</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-pricing-content">
						<div class="price-tag">
							<h3>Premium</h3>
						</div>
						<div class="price-heading">
							<div class="price-usd">
								<h2>$75.00<span class="price-small-text">- Per month</span></h2>
							</div>
						</div>
						<div class="price-body">
							<ul>
								<li>Personal Use</li>
								<li>Unlimited Projects</li>
								<li>Project Management</li>
								<li>27/7 Support</li>
								<li>Basic support on Github</li>
								<li>Help center access</li>
							</ul>
						</div>
						<div class="price-btn">
							<a href="#" class="price-btn-one">Get Started</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>-->
	<!-- End Pricing Section -->
	
	<!-- Start Hire Section -->
	<section class="hire-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 col-md-12">
					<div class="hire-content">
						<!--<h6 class="sub-title">Want to work with us?</h6>-->
						<h2>¿Te encantaría contratar mis servicios?</h2>
						<p>Impulsa tu negocio con soluciones de transformación digital, automatización de procesos y servicios en la nube diseñados para optimizar y acelerar tu crecimiento.</p>
						<!--<div class="hire-btn">
							<a class="default-btn" href="tel:3143801560">Call Now<span></span></a>
							<a class="default-btn-one" href="contact.html">Contact Us<span></span></a>
						</div>-->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Hire Section -->
	
	<!-- Start Testimonial Section -->
	<!--<section class="testimonial-section pt-100 pb-50">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h6 class="sub-title">Our Testimonial</h6>
						<h2>Client Feedback</h2>
					</div>
				</div>
				<div class="col-lg-12 col-md-12">
					<div class="testimonial-slider owl-carousel owl-theme owl-loaded owl-drag">
			
						
					<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-956px, 0px, 0px); transition: 1s; width: 3346px;"><div class="owl-item cloned" style="width: 458px; margin-right: 20px;"><div class="single-testimonial">
							<div class="rating-box">
								<ul>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
							</div>
							<div class="testimonial-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation.</p>
							</div>
							<div class="avatar">
								<img src="assets/img/client/testimonial-2.jpg" alt="testimonial images">
							</div>
							<div class="testimonial-bio">
								<div class="bio-info">
									<h3>Zahra Burnett</h3>
									<span>United States</span>
								</div>
							</div>
						</div></div><div class="owl-item cloned" style="width: 458px; margin-right: 20px;"><div class="single-testimonial">
							<div class="rating-box">
								<ul>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
							</div>
							<div class="testimonial-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation.</p>
							</div>
							<div class="avatar">
								<img src="assets/img/client/testimonial-3.jpg" alt="testimonial images">
							</div>
							<div class="testimonial-bio">
								<div class="bio-info">
									<h3>Stevie Wills</h3>
									<span>Germany</span>
								</div>
							</div>
						</div></div><div class="owl-item active" style="width: 458px; margin-right: 20px;"><div class="single-testimonial">
							<div class="rating-box">
								<ul>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
							</div>
							<div class="testimonial-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation.</p>
							</div>
							<div class="avatar">
								<img src="assets/img/client/testimonial-1.jpg" alt="testimonial images">
							</div>
							<div class="testimonial-bio">
								<div class="bio-info">
									<h3>Saabir al-Obeid</h3>
									<span>Turkey</span>
								</div>
							</div>
						</div></div><div class="owl-item active" style="width: 458px; margin-right: 20px;"><div class="single-testimonial">
							<div class="rating-box">
								<ul>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
							</div>
							<div class="testimonial-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation.</p>
							</div>
							<div class="avatar">
								<img src="assets/img/client/testimonial-2.jpg" alt="testimonial images">
							</div>
							<div class="testimonial-bio">
								<div class="bio-info">
									<h3>Zahra Burnett</h3>
									<span>United States</span>
								</div>
							</div>
						</div></div><div class="owl-item" style="width: 458px; margin-right: 20px;"><div class="single-testimonial">
							<div class="rating-box">
								<ul>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
							</div>
							<div class="testimonial-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation.</p>
							</div>
							<div class="avatar">
								<img src="assets/img/client/testimonial-3.jpg" alt="testimonial images">
							</div>
							<div class="testimonial-bio">
								<div class="bio-info">
									<h3>Stevie Wills</h3>
									<span>Germany</span>
								</div>
							</div>
						</div></div><div class="owl-item cloned" style="width: 458px; margin-right: 20px;"><div class="single-testimonial">
							<div class="rating-box">
								<ul>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
							</div>
							<div class="testimonial-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation.</p>
							</div>
							<div class="avatar">
								<img src="assets/img/client/testimonial-1.jpg" alt="testimonial images">
							</div>
							<div class="testimonial-bio">
								<div class="bio-info">
									<h3>Saabir al-Obeid</h3>
									<span>Turkey</span>
								</div>
							</div>
						</div></div><div class="owl-item cloned" style="width: 458px; margin-right: 20px;"><div class="single-testimonial">
							<div class="rating-box">
								<ul>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
								</ul>
							</div>
							<div class="testimonial-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation.</p>
							</div>
							<div class="avatar">
								<img src="assets/img/client/testimonial-2.jpg" alt="testimonial images">
							</div>
							<div class="testimonial-bio">
								<div class="bio-info">
									<h3>Zahra Burnett</h3>
									<span>United States</span>
								</div>
							</div>
						</div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="fa fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fa fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
				</div>
			</div>
		</div>
	</section>-->
	<!-- End Testimonial Section -->
	
	<!-- Start Team Section -->
	<!--<section class="team-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h6 class="sub-title">Team Member</h6>
						<h2>Expert Team</h2>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-team-box">
						<div class="team-image">
							<img src="assets/img/team/team-1.jpg" alt="team">
							<div class="team-social-icon">
								<a href="#"><i class="fab fa-facebook-f"></i></a>
								<a href="#"><i class="fa-brands fa-x-twitter"></i></a>
								<a href="#"><i class="fab fa-linkedin"></i></a>
							</div>
						</div>
						<div class="team-info">
							<h3>Ava Farrington</h3>
							<span>Founder, CEO</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-team-box">
						<div class="team-image">
							<img src="assets/img/team/team-2.jpg" alt="team">
							<div class="team-social-icon">
								<a href="#"><i class="fab fa-facebook-f"></i></a>
								<a href="#"><i class="fa-brands fa-x-twitter"></i></a>
								<a href="#"><i class="fab fa-linkedin"></i></a>
							</div>
						</div>
						<div class="team-info">
							<h3>Kevin Haley</h3>
							<span>Co-Founder, CTO</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-team-box">
						<div class="team-image">
							<img src="assets/img/team/team-3.jpg" alt="team">
							<div class="team-social-icon">
								<a href="#"><i class="fab fa-facebook-f"></i></a>
								<a href="#"><i class="fa-brands fa-x-twitter"></i></a>
								<a href="#"><i class="fab fa-linkedin"></i></a>
							</div>
						</div>
						<div class="team-info">
							<h3>Alishia Fulton</h3>
							<span>Chief Creative Officer</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-team-box">
						<div class="team-image">
							<img src="assets/img/team/team-4.jpg" alt="team">
							<div class="team-social-icon">
								<a href="#"><i class="fab fa-facebook-f"></i></a>
								<a href="#"><i class="fa-brands fa-x-twitter"></i></a>
								<a href="#"><i class="fab fa-linkedin"></i></a>
							</div>
						</div>
						<div class="team-info">
							<h3>Lucas Martinez</h3>
							<span>Creative Director</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>-->
	<!-- End Team Section -->
	
	<!-- Start Blog Section -->
	<!--<section class="blog-section bg-grey pt-100 pb-70">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h6 class="sub-title">Blog &amp; Article</h6>
						<h2>Recent Blog</h2>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="blog-single-item">
						<div class="blog-image">
							<a href="single-blog.html">
								<img src="assets/img/blog/blog-1.jpg" alt="image">
							</a>
						</div>
						<div class="blog-description">
							<ul class="blog-info">
								<li>
									<a href="#"><i class="bi bi-person-circle"></i> Author</a>
								</li>
								<li>
									<a href="#"><i class="bi bi-calendar-check"></i> 17 June 2024</a>
								</li>
							</ul>
							<div class="blog-text">
								<h3>
                                    <a href="single-blog.html">
										Planning for a Safe Return to the Workplace IT Solutions
                                    </a>
                                </h3>
								<p>Lorem ipsum dolor sit amet, consectetu adipiscing elit, sed eiusmod tempor incididunt ut labore dolore magna aliqua</p>
								<div class="blog-btn"> <a href="single-blog.html" class="read-more"><i class="bi bi-arrow-right-short"></i> Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="blog-single-item">
						<div class="blog-image">
							<a href="single-blog.html">
								<img src="assets/img/blog/blog-2.jpg" alt="image">
							</a>
						</div>
						<div class="blog-description">
							<ul class="blog-info">
								<li>
									<a href="#"><i class="bi bi-person-circle"></i> Author</a>
								</li>
								<li>
									<a href="#"><i class="bi bi-calendar-check"></i> 20 June 2024</a>
								</li>
							</ul>
							<div class="blog-text">
								<h3>
									<a href="single-blog.html">
                                       Announcing Our New Smiles for Success Charity
                                    </a>
								</h3>
								<p>Lorem ipsum dolor sit amet, consectetu adipiscing elit, sed eiusmod tempor incididunt ut labore dolore magna aliqua</p>
								<div class="blog-btn">
									<a href="single-blog.html" class="read-more"><i class="bi bi-arrow-right-short"></i> Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="blog-single-item">
						<div class="blog-image">
							<a href="single-blog.html">
								<img src="assets/img/blog/blog-3.jpg" alt="image">
							</a>
						</div>
						<div class="blog-description">
							<ul class="blog-info">
								<li>
									<a href="#"><i class="bi bi-person-circle"></i> Author</a>
								</li>
								<li>
									<a href="#"><i class="bi bi-calendar-check"></i> 25 June 2024</a>
								</li>
							</ul>
							<div class="blog-text">
								<h3>
                                    <a href="single-blog.html">
                                        Machine Learning Applications for Every Industry
                                    </a>
                                </h3>
								<p>Lorem ipsum dolor sit amet, consectetu adipiscing elit, sed eiusmod tempor incididunt ut labore dolore magna aliqua</p>
								<div class="blog-btn">
									<a href="single-blog.html" class="read-more"><i class="bi bi-arrow-right-short"></i> Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>-->
	<!-- End Blog Section -->

	<!-- Start Partner section -->
	<section class="partner-section pt-100 pb-70">
		<div class="container">
			<div class="partner-title">
				<h6 class="sub-title">Tecnologias Web</h6>
				<h2>Tecnologias</h2>
			</div>
			<div class="partner-list">

				<div class="partner-item">
					<a href="#0">
						<img src="assets/img/awss.png" alt="image">
					</a>
				</div>
				
				<div class="partner-item">
					<a href="#0">
						<img src="assets/img/javascriptt.jpg" alt="image">
					</a>
				</div>

				<div class="partner-item">
					<a href="#0">
						<img src="assets/img/react.png" alt="image">
					</a>
				</div>

				<div class="partner-item">
					<a href="#0">
						<img src="assets/img/next.png" alt="image">
					</a>
				</div>

				<div class="partner-item">
					<a href="#0">
						<img src="assets/img/python.jpg" alt="image">
					</a>
				</div>
				<div class="partner-item">
					<a href="#0">
						<img src="assets/img/djangogreen.png" alt="image">
					</a>
				</div>
				<div class="partner-item">
					<a href="#0">
						<img src="assets/img/php.png" alt="image">
					</a>
				</div>
				
				<div class="partner-item">
					<a href="#0">
						<img src="assets/img/code.png" alt="image">
					</a>
				</div>


				
				<div class="partner-item">
					<a href="#0">
						<img src="assets/img/What-is-PostgreSQL.png" alt="image">
					</a>
				</div>

				<div class="partner-item">
					<a href="#0">
						<img src="assets/img/mysql.png" alt="image">
					</a>
				</div>



				<div class="partner-item">
					<a href="#0">
						<img src="assets/img/git.png" alt="image">
					</a>
				</div>
				
				<div class="partner-item">
					<a href="#0">
						<img src="assets/img/wp.png" alt="image">
					</a>
				</div>

				<div class="partner-item">
					<a href="#0">
						<img src="assets/img/shopy.png" alt="image">
					</a>
				</div>

				
				<div class="partner-item">
					<a href="#0">
						<img src="assets/img/what-is-woocommerce.jpg" alt="image">
					</a>
				</div>

				<div class="partner-item">
					<a href="#0">
						<img src="assets/img/docker.png" alt="image">
					</a>
				</div>
				
	


				

			</div>
		</div>
	</section>
	<!-- End Partner section -->
	
	<!-- Start Footer & Subscribe Section -->
	<section class="footer-subscribe-wrapper" id="contactame">
		<!-- Start Subscribe Section -->
		<div class="subscribe-area">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-6">
						<div class="subscribe-content">
							<h2>Sign Up Our Newsletter</h2>
							<p>We Offer An Informative Monthly Technology Newsletter - Check It Out.</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<form class="newsletter-form">
							<input type="email" class="input-newsletter" name="email" placeholder="Enter Your Email" required="" autocomplete="off">
							<button type="submit">Subscribe Now</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- End Subscribe Section -->
		<!-- Start Footer Section -->
		<div class="footer-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<a class="footer-logo" href="#">
								<h3 style="color: white;">Sergio dev soluciotions</h3>
							</a>
							<p>Impulsando Tu Negocio con Soluciones Tecnológicas Personalizadas.</p>
							<ul class="footer-social">
								<li>
									<a href="#"> <i class="fab fa-facebook-f"></i></a>
								</li>
								<li>
									<a href="#"> <i class="fa-brands fa-x-twitter"></i></a>
								</li>
								<li>
									<a href="#"> <i class="fab fa-youtube"></i></a>
								</li>
								<li>
									<a href="#"> <i class="fab fa-linkedin"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<div class="footer-heading">
								<h3>Mis Servicios</h3>
							</div>
							<ul class="footer-quick-links">
								<li><a href="#">Startup Solutions</a></li>
								<li><a href="#">Web Development</a></li>
								<li><a href="#">Landing Pages</a></li>
								<li><a href="#">E-commerce</a></li>
								<li><a href="#">Web Corporativa</a></li>
								<li><a href="#">Despliegue de Aplicaciones Web en la Nube</a></li>
								
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<div class="footer-heading">
								<h3>Mis Servicios</h3>
							</div>
							<ul class="footer-quick-links">
								
								<li><a href="#">Desarrollo de Software a la Medida</a></li>
								<li><a href="#">Implementación de Diversas API</a></li>
								<li><a href="#">Desarrollador de soluciones tecnológicas para trabajos de grado</a></li>
								<li><a href="#">Apps Development</a></li>
								<li><a href="#">SEO Optimization</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<div class="footer-heading">
								<h3>Contact Info</h3>
							</div>
							<div class="footer-info-contact">
								<i class="flaticon-phone-call"></i>
								<h3>Phone</h3>
								<span><a href="tel:12345678">3143801560</a></span>
							</div>

							<div class="footer-info-contact">
								<i class="fa fa-whatsapp" aria-hidden="true"></i>
								<h3>Whatsapp</h3>
								<span><a href="https://wa.me/573143801560" target="_blank">3143801560</a></span>
							</div>

							
							<div class="footer-info-contact">
								<i class="flaticon-envelope"></i>
								<h3>Email</h3>
								<span><a href="mailto:demo@example.com">sergiodevsoluctions@sergiodevsoluctions.com</a></span>
							</div>
							<div class="footer-info-contact">
								<i class="flaticon-placeholder"></i>
								<span>Colombia, Santander, Bucaramanga</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Section -->
	</section>
	<!-- End Footer & Subscribe Section -->
	
	<!-- Start Copy Right Section -->
	<div class="copyright-area">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 col-md-6">
					<p><i class="far fa-copyright"></i> 2024 Sergio dev soluciotions - All Rights Reserved.</p>
				</div>
				<div class="col-lg-6 col-md-6">
					<ul>
						<li><a href="terms-condition.html">Terms &amp; Conditions</a></li>
						<li><a href="privacy-policy.html">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End Copy Right Section -->
	
	<!-- Start Go Top Section -->
	<div class="go-top">
		<i class="fas fa-chevron-up"></i>
		<i class="fas fa-chevron-up"></i>
	</div>
	<!-- End Go Top Section -->
	
	<!-- jQuery Min JS -->
	<script src="assets/js/jquery.min.js"></script>
	<!-- Popper Min JS -->
	<script src="assets/js/popper.min.js"></script>
	<!-- Bootstrap Min JS -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<!-- Mean Menu JS  -->
	<script src="assets/js/jquery.meanmenu.js"></script>
	<!-- Appear Min JS -->
	<script src="assets/js/jquery.appear.min.js"></script>
	<!-- CounterUp Min JS -->
	<script src="assets/js/jquery.waypoints.min.js"></script>
	<script src="assets/js/jquery.counterup.min.js"></script>
	<!-- Owl Carousel Min JS -->
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- Magnific Popup Min JS -->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!-- Isotope Min JS -->
	<script src="assets/js/isotope.pkgd.min.js"></script>
	<!-- Particles JS -->
    <script src="assets/js/particles.min.js"></script>
    <script src="assets/js/particles-app.js"></script>
	<!-- Swiper Min JS -->
	<script src="assets/js/swiper.min.js"></script>
	<!-- Vanilla Tilt Min JS -->
	<script src="assets/js/vanilla-tilt.min.js"></script>
	<!-- WOW Min JS -->
	<script src="assets/js/wow.min.js"></script>
	<!-- Main JS -->
	<script src="assets/js/main.js"></script>
	


</body></html>